[package]
name = "fey_packer"
version = "0.1.0"
edition = "2024"
authors.workspace = true
license.workspace = true
description.workspace = true
readme.workspace = true

[dependencies]
fey_math = { version = "0.1.0", path = "../fey_math" }
